# Core web framework
django
djangorestframework
django-cors-headers

# Data science stack
polar
pandas
numpy



# Optional: handy for env vars
python-decouple
django-cors-headers


# File handling
python-magic



