.redeem-page {
  padding: 8% 16px;
  background: #F88B47;
  min-height: 100vh;
}

.page-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.page-subtitle {
  font-size: 13px;
  color: #4d4d4d;
  font-weight: 100;
    
}

.coupons-list {
  margin-bottom: 24px;
}

.points-footer {
  text-align: center;
  background: white;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  margin: 20px auto 10%;
  width: 75%;
}