.redeem-page {
  padding: 8% 16px;
  background: #ff995a;
  min-height: 100vh;
}

.page-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.page-subtitle {
  font-size: 13px;
  color: #000000;
  font-weight: 300;
  background-color: #fbbc95;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 16px;
}

.coupons-list {
  margin-bottom: 24px;
}

.points-footer {
  text-align: center;
  background: white;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  margin: 20px auto 10%;
  width: 75%;
}